<div class="nav-container">
    <header id="guest" style="display: noe;">
        <div class="nav-content">
            <div class="nav-group">
                <a href="../../pages/home/home.html" class="nav-logo">
                    <img src="../../.././src/assets/ig/logo.jpg" alt="Closet Drii">
                </a>
                <a href="../../pages/home/home.html" class="nav-link">Home</a>
                <a href="#" class="nav-link">Produtos</a>
                <a href="#" class="nav-link">Contato</a>
            </div>
            <div class="nav-group">
                <a href="../../pages/login/login.html" id="btnCad" class="nav-btn">Login</a>
                <a href="../../pages/singup/signup.html" id="btnCad" class="nav-btn">Cadastrar-se</a>
            </div>
        </div>
    </header>

    <header id="logado" style="display: none;">
        <div class="nav-content">
            <div class="nav-group">
                <a href="../../pages/home/home.html" class="nav-logo">
                    <img src="../../.././src/assets/ig/logo.jpg" alt="Closet Drii">
                </a>
                <a href="../../pages/home/home.html" class="nav-link">Home</a>
                <a href="#" class="nav-link">Produtos</a>
                <a href="#" class="nav-link">Contato</a>
            </div>
            <div class="nav-group">
                <a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#" id="btnCad2" class="nav-link"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </header>

    <header id="logadoADM" style="display: none;">
        <div class="nav-content">
            <div class="nav-group">
                <a href="../../pages/home/home.html" class="nav-logo">
                    <img src="../../.././src/assets/ig/logo.jpg" alt="Closet Drii">
                </a>
                <a href="../../pages/home/home.html" class="nav-link">Home</a>
                <a href="#" class="nav-link">Produtos</a>
                <a href="#" class="nav-link">Contato</a>
                <a href="#" class="nav-link">Relatório</a>
            </div>
            <div class="nav-group">
                <a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#" id="btnCad2" class="nav-link"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </header>
</div>

<script src="header.js" type="module"></script>